/*Custom Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Oldenburg&display=swap');

/*Common CSS-------------------------------------*/

/* 620 for the table 
   720 for the footer */

* {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: white;
}

*:focus {
  outline: 0;
}

* {
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:active {
  transform: scale(0.95);
}

h1 {
  font-family: "Oldenburg", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

h2 {
  font-family: "Oldenburg", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 20px;
  color: #2c3e50;
}

h3 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 17px;
  color: #2c3e50;
}

p {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  color: black;
}

a {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover, button:hover {
  cursor: pointer;
}

button, input:not([type='image']) {
  border-radius: 20px;
}

button {
  border-color: white;
  background-color: #e67e22;
  color: white;
}

button:hover {
  border-color: #e67e22;
  border-radius: 20px;
  background-color: white;
  color: #e67e22;
}

ul li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.breadcrumbs, .breadcrumbs * {
  font-size: 12px;
}


/*Header CSS---------------------------------------*/

#searchContainer form input {
  color: #7f8c8d;
}

#searchContainer i {
  color: #34495e;
}

header {
  position: relative;
}

/* Language and Search */

#languageAndSearchContainer {
  display: flex;
}

@media (min-width: 1200px) {
  #languageAndSearchContainer {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 1200px) {
  #languageAndSearchContainer {
    justify-content: center;
    margin: 10px 0;
  }
}

/* Logo */

#logo {
  text-align: center;
}

/* Language Selection */

#languageSelection img {
  height: 25px;
}

/* Search Container */

#searchContainer form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#searchContainer form * {
  display: inline-block;
  margin-right: 10px;
}

#searchContainer input {
  font-size: 17px;
  padding: 2px 10px;
}

#searchContainer i {
  font-size: 25px;
}

/* Navigation */

nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 5px 20px;
}

nav ul li * {
  font-family: "Oldenburg", Times, serif;
  color: #67b9cc;
  font-weight: bolder;
  font-size: 14pt;
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul li:hover {
  transform: scale(1.1);
}

/*Footer CSS---------------------------------------*/

#socialMediaButtons a:hover {
  text-decoration: none;
}

#copyright *, .credits, .credits * {
    font-size: 10px;
}

footer a {
  font-size: 12px;
}

footer {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #ecf0f1;
  margin: 40px 5%;
  border-radius: 20px;
}

footer>div {
  margin: 20px 30px;
}

footer>div>section:not(#connect) {
  margin-right: 40px;
}

.footerLinkList {
  float: left;
}

.footerLinkList h3 {
  margin-block-start: 0;
}

#connect {
  float: right;
}

#copyright {
  float: left;
}

/* Breadcrumbs CSS-------------------------------------*/
.breadcrumbs *{
  font-size: 14px;
  color: #34495e;
}

.breadcrumbs {
  margin-bottom: 10px;
  margin-left: 6%;
}

/*Index.html CSS---------------------------------------*/

#featuredAttraction, .attractionCard{
    background-color: white;
}

/*Offers.html CSS---------------------------------------*/

#offersPage header{
  /* background-color: #FFF8; */
  margin: 20px 5%;
  border-radius: 20px;
  padding: 10px;
}

#offersPage main {
  background-color: #E57B76;
  margin: 0 5%;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

#offersTable {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #D75E72, 0 6px 20px 0 #D75E72;
  margin: auto;
  border-spacing: 20px;
  margin-top: 60px;
}

#offersTable button {
  padding: 5px 10px;
  border-width: 3px;
}

#offersTable button:hover {
  border-radius: 20px;
  background-color: white;
}

#offerNamesRow th {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.5em;
}

.firstOffer {
  color: #E5C176;
}

button.firstOffer {
  color: white;
  border-color: #E5C176;
  background-color: #E5C176;
}

button.firstOffer:hover {
  color: #E5C176;
}

.secondOffer {
  color: #67B9CC;
}

button.secondOffer {
  color: white;
  border-color: #67B9CC;
  background-color: #67B9CC;
}

button.secondOffer:hover {
  color: #67B9CC;
}

.thirdOffer {
  color: #D75E72;
}

button.thirdOffer {
  color: white;
  border-color: #D75E72;
  background-color: #D75E72;
}

button.thirdOffer:hover {
  color: #D75E72;
}

.buyNowButton {
  font-weight: bolder;
}

#offersTable th.available {
  color: #34495e;
  font-weight: bold;
}

#offersTable th.unavailable strike {
  color: #7f8c8d;
  /* text-decoration: line-through; */
  font-weight: lighter;
}

#pricesRow th {
  font-size: 36pt;
  font-weight: bolder;
  color: #E57B76;
}

#pricesRow th sup {
  font-size: 16pt;
  font-weight: bolder;
  color: #E57B76;
}